/* Theme: https://github.com/catppuccin/catppuccin */

body {
    --background-color: white;
    --surface: #f6f6f7;
    --surface2: #f2f2f3;
    --color: black;
    --warning: #df8e1d;
    --accent: #dd7878;

    background-color: var(--background-color);
    color: var(--color);

    width: 100vw;
    min-height: 100vh;
}

body.dark {
    --background-color: #202021;
    --surface: #1e1e1f;
    --surface2: #29292b;
    --color: #e5e5e5;
    --warning: #e5c890;
    --accent: #eebebe;
    --accent-rgb: 238, 190, 190;
}

html {
    font-family: Inter, system-ui, sans-serif;
}

p {
    line-height: 1.75em;
}

@font-face {
    font-family: "Inter";
    src: url("/fonts/Inter.var-subset.woff2") format("woff2");
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
    font-named-instance: "Regular";
}

.non-bold {
    font-weight: 400;
}

/* used to change theme without performing color transitions */
.disable-transitions * {
    transition: none !important;
}
