---
export const prerender = true;

import { Prism } from "@astrojs/prism";
import Button88X31 from "components/Button88x31.astro";
import CenteredBody from "components/CenteredBody.astro";
import Layout from "layouts/Layout.astro";
import { stripIndent } from "scripts/stripIndent";

const { origin } = Astro.url;

const makeHtml = (name: string) => stripIndent`
    <a href="${origin}" title="vending machine" rel="nofollow">
        <img src="${origin}/assets/88x31/${name}" alt="" width="88" height="31"/>
    </a>
`;
---

<Layout title="88x31" description="">
    <CenteredBody maxWidth="80%">
        <h1>88x31 button</h1>
        <p>
            If we're friends and you want me to add your button, just send me a
            message!
        </p>
        <p>If you want to add my button to your site, there are two options:</p>

        <div class="buttons">
            <section>
                <h2>88x31 by <a href="https://arhsm.cat">arHSM</a></h2>
                <Button88X31 name="me" />
                <p>Thanks a lot to arHSM for creating it ❤️</p>
                <Prism code={makeHtml("me.gif")} lang="html" />
            </section>

            <section>
                <h2>Alternative 88x31</h2>
                <Button88X31 name="me-alt" />
                <p>I genuinely have no clue who made this I'm sorry</p>
                <Prism code={makeHtml("me-alt.png")} lang="html" />
            </section>
        </div>
    </CenteredBody>
</Layout>

<style>
    .buttons {
        display: flex;
        flex-direction: column;
        gap: 2em;
    }
</style>
