---
import CenteredBody from "../components/CenteredBody.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="About Me" description="yeee">
    <CenteredBody>
        <h1>Read if cute</h1>
    </CenteredBody>
</Layout>
