---
import CenteredBody from "../components/CenteredBody.astro";
import Projects from "../components/Projects.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="About" description="Learn more about me and my projects">
    <CenteredBody margin="10%">
        <h1>About</h1>

        <h2>Projects</h2>
        <Projects />
    </CenteredBody>
</Layout>
