---
import Layout from "../layouts/Layout.astro";
import Social from "../components/Social.astro";

import CenteredBody from "../components/CenteredBody.astro";
import Link from "../components/Link.svelte";
import Fren from "../components/Fren.astro";
import SocialImg from "../components/SocialImg.astro";
---

<Layout title="Ven's Site" description="read if cute">
    <CenteredBody id="wrapper">
        <section>
            <h1>Hi, I'm <span>Ven!</span></h1>
            <p class="non-bold">
                I'm a self-taught software developer who's very passionate about
                Linux & Android, reverse engineering, free/libre software, and
                all sorts of music, especially
                <Link
                    title="Sadness - Encontrarnos"
                    href="https://youtu.be/xjDJdgRjGvI">black</Link
                >
                <Link
                    title="Peste Noire - Phalènes et Pestilence (this band consists of horrible people but the song is amazing)"
                    href="https://youtu.be/V_QNRV_NAEo">metal</Link
                >!
            </p>
        </section>

        <section>
            <h2>You can find me all over the interwebs:</h2>
            <ul>
                <Social>
                    <iframe
                        id="discord-widget"
                        title="User Embed"
                        width="340"
                        height="120"
                        frameborder="0"
                        sandbox="true"
                        src="https://widgets.vendicated.dev/user?id=343383572805058560&theme=light&banner=true&full-banner=false&rounded-corners=false&discord-icon=true"
                    ></iframe>
                </Social>
                <Social
                    title="Github"
                    icon="fa-brands:github"
                    text="Vendicated"
                    href="https://github.com/Vendicated"
                />
                <Social
                    title="Codeberg"
                    text="Ven"
                    href="https://codeberg.org/Ven"
                >
                    <svg
                        slot="icon"
                        class="codeberg-icon"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24"
                    >
                        <title>Codeberg</title>
                        <path
                            fill="var(--color)"
                            d="M12 1A11 11 0 0 0 1 12a11 11 0 0 0 1.7 6.4L12 6l9.3 12.4A11 11 0 0 0 23 12 11 11 0 0 0 12 1Z"
                        ></path>
                        <path
                            fill="var(--color-semi-trans)"
                            d="M21.3 18.4 12 6l4.4 16.8a11 11 0 0 0 4.9-4.4Z"
                        ></path>
                    </svg>
                </Social>
                <Social
                    title="Telegram"
                    icon="fa-brands:telegram"
                    text="@Vendicated"
                    href="https://t.me/Vendicated"
                />
                <Social
                    title="Last.fm"
                    icon="fa-brands:lastfm"
                    text="@VendyMachine"
                    href="https://www.last.fm/user/Vendymachine"
                />
                <Social
                    title="Email"
                    id="email"
                    icon="fa:envelope"
                    text="vendicated@riseup.net"
                    href="mailto:Vendcated%20<vendicated@riseup.net>"
                />
                <Social
                    title="PGP Key"
                    icon="fa-solid:key"
                    text="A1DC 0CFB 5615 D905"
                    href="/pgp_key.asc.txt"
                />
            </ul>
        </section>

        <section>
            <h2>Cool peoples' cool sites</h2>
            <div id="frens">
                <Fren name="MeguminSama" url="https://megu.dev/" />
                <Fren name="auravoid" url="https://auravoid.dev" />
                <Fren name="vanillyn" url="https://vani.megu.dev/" />
                <Fren name="wingio" url="https://wingio.xyz" />
                <Fren name="AAGaming00" url="https://aa.catvibers.me/" />
                <Fren name="neeko-iko" url="https://neeko.page/" />
                <Fren name="X1nto" url="https://xinto.me/" />
                <Fren name="TymanWasTaken" url="https://tyman.systems/" />
                <Fren name="Katlyn" url="https://katlyn.dev/" />
                <Fren name="fawni" url="https://x4.pm/" />
                <Fren name="aaxyria" url="https://axyria.dev/" />
            </div>
        </section>
    </CenteredBody>
</Layout>

<script>
    import "../scripts/polyfills";
    import { getCurrentTheme } from "../scripts/themeRuntime";

    const setWidgetTheme = () => {
        const widget = document.querySelector(
            "#discord-widget"
        ) as HTMLIFrameElement;
        widget.src = widget.src.replace(
            /theme=(light|dark)/,
            "theme=" + getCurrentTheme()
        );
    };

    setWidgetTheme();
    document.addEventListener("themechange", setWidgetTheme);

    // Shuffle friends
    const frens = document.querySelector("#frens") as HTMLDivElement;
    for (let i = frens.children.length; i >= 0; i--)
        // appending an already added element moves it
        frens.appendChild(frens.children[Math.floor(Math.random() * i)]);
</script>

<style lang="scss">
    section {
        margin-bottom: 2.5em;
    }

    span {
        color: var(--accent);
    }

    ul {
        list-style: none;
        // the user agent padding is insane
        padding: 0 0 0 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    h2 {
        font-size: unset;
    }

    a:not(:hover):not(:focus) {
        text-decoration: none;
    }

    #frens {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
    }

    // trolley
    @media screen and (max-width: 1506px) {
        #frens {
            justify-content: center;
        }
    }

    iframe {
        box-shadow: 0px 0px 0px 1px var(--color);
        border-radius: 12px;
    }

    :global(.dark) iframe {
        box-shadow: none;
    }

    .codeberg-icon {
        shape-rendering: auto;
        width: 24px;
        height: 24px;
        margin-right: 0.5em;
    }
</style>
