---
import Layout from "../layouts/Layout.astro";
import Social from "../components/Social.astro";

import CenteredBody from "../components/CenteredBody.astro";
---

<Layout title="Ven's Website" description="read if cute">
    <CenteredBody id="wrapper">
        <div id="intro">
            <h1>Hi, I'm <span id="ven-cozy">Ven!</span></h1>
            <p class="non-bold">
                I'm a self-taught software developer who is very passionate about
                Linux, reverse engineering, open source, and all sorts of music (especially black metal and death!).
            </p>
        </div>

        <div id="interwebs">
            <h4>You can find me all over the interwebs:</h4>
            <ul>
                <Social
                    icon="fa-brands:github"
                    text="Vendicated"
                    href="https://github.com/Vendicated"
                />
                <Social
                    icon="fa-brands:discord"
                    text="VendingMachine#8485"
                    href="https://discord.com/users/343383572805058560"
                />
                <Social
                    icon="fa-brands:telegram"
                    text="@Vendicated"
                    href="https://t.me/Vendicated"
                />
                <Social
                    id="email"
                    icon="fa:envelope"
                    text="Anti Spam Placeholder, enable Javascript to see."
                    href="mailto:FBI%20<oiparequest@ic.fbi.gov>"
                />
            </ul>
        </div>

        <h4>This site is open source!</h4>
        <ul>
            <Social
                icon="fa:code-fork"
                text="Vendicated/vendicated.dev"
                href="https://github.com/Vendicated/vendicated.dev"
            />
        </ul>
    </CenteredBody>
</Layout>

<script>
    const emailAnchor = document.getElementById("email") as HTMLAnchorElement;
    const email = Array.from(window.atob("GRIBCx4MDgMKCzcdBgQKGgdBARIb"))
        .map((s, i) =>
            String.fromCharCode(
                s.charCodeAt(0) ^ "owo".charCodeAt(Math.floor(i % 3))
            )
        )
        .join("");

    emailAnchor.href = "mailto:Vendicated <" + email + ">";
    // trolley
    emailAnchor.children[1].textContent = email;
</script>

<style lang="scss">
    #intro, #interwebs {
        margin-bottom: 2.5em;
    }

    #ven-cozy {
        color: var(--accent);
    }

    ul {
        list-style: none;
        // the user agent padding is insane
        padding: 0 0 0 1em;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
</style>
