---
import Layout from "../layouts/Layout.astro";
import Social from "../components/Social.astro";

import CenteredBody from "../components/CenteredBody.astro";
import Link from "../components/Link.svelte";
---

<Layout title="Ven's Website" description="read if cute">
    <CenteredBody id="wrapper">
        <div>
            <h1>Hi, I'm <span>Ven!</span></h1>
            <p class="non-bold">
                I'm a self-taught software developer who's very passionate about
                Linux & Android, reverse engineering, open source, and all sorts
                of music, especially
                <Link
                    title="Skyforest - Reminiscence"
                    href="https://www.youtube.com/watch?v=t9xkdQhbTvU"
                    >atmospheric</Link
                >
                <Link
                    title="A Light in the Dark - In a Deafening Silence"
                    href="https://www.youtube.com/watch?v=QLxfLtkUle8"
                    >black</Link
                >
                <Link
                    title="Caladan Brood - The Passing of the Grey Company"
                    href="https://www.youtube.com/watch?v=JVmP8S-bg3g"
                    >metal</Link
                >!
            </p>
        </div>

        <div>
            <h2>You can find me all over the interwebs:</h2>
            <ul>
                <Social
                    icon="fa-brands:github"
                    text="Vendicated"
                    href="https://github.com/Vendicated"
                />
                <Social
                    icon="fa-brands:discord"
                    text="VendingMachine#8485"
                    href="https://discord.id/?prefill=343383572805058560"
                />
                <Social
                    icon="fa-brands:telegram"
                    text="@Vendicated"
                    href="https://t.me/Vendicated"
                />
                <Social
                    id="email"
                    icon="fa:envelope"
                    text="Anti Spam Placeholder, enable Javascript to see."
                    href="mailto:FBI%20<oiparequest@ic.fbi.gov>"
                />
            </ul>
        </div>

        <h2>This site is open source!</h2>
        <ul>
            <Social
                icon="fa:code-fork"
                text="Vendicated/vendicated.dev"
                href="https://github.com/Vendicated/vendicated.dev"
            />
        </ul>
    </CenteredBody>
</Layout>

<script>
    const email = String.fromCharCode(
        ...Array.from(
            window.atob("GRIBCx4MDgMKCzcdBgQKGgdBARIb"),
            (s, i) => s.charCodeAt(0) ^ [111, 119, 111][i % 3]
        )
    );

    const emailContainer = document.querySelector("#email") as HTMLElement;

    emailContainer.querySelector("a")!.href =
        "mailto:Vendicated <" + email + ">";
    emailContainer.querySelector("span")!.innerText = email;
</script>

<style lang="scss">
    div {
        margin-bottom: 2.5em;
    }

    span {
        color: var(--accent);
    }

    ul {
        list-style: none;
        // the user agent padding is insane
        padding: 0 0 0 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    h2 {
        font-size: unset;
    }

    a:not(:hover):not(:focus) {
        text-decoration: none;
    }
</style>
