---
import Layout from "../layouts/Layout.astro";
import Social from "../components/Social.astro";

import CenteredBody from "../components/CenteredBody.astro";
import Link from "../components/Link.svelte";
import Fren from "../components/Fren.astro";
---

<Layout title="Ven's Site" description="read if cute">
    <CenteredBody id="wrapper">
        <section>
            <h1>Hi, I'm <span>Ven!</span></h1>
            <p class="non-bold">
                I'm a self-taught software developer who's very passionate about
                Linux & Android, reverse engineering, free/libre software, and all sorts
                of music, especially
                <Link
                    title="Sadness - Encontrarnos"
                    href="https://youtu.be/xjDJdgRjGvI"
                    >black</Link
                >
                <Link
                    title="Peste Noire - Phalènes et Pestilence (this band consists of horrible people but the song is amazing)"
                    href="https://youtu.be/V_QNRV_NAEo"
                    >metal</Link
                >!
            </p>
        </section>

        <section>
            <h2>You can find me all over the interwebs:</h2>
            <ul>
                <Social
                    title="Github"
                    icon="fa-brands:github"
                    text="Vendicated"
                    href="https://github.com/Vendicated"
                />
                <Social
                    title="Discord"
                    icon="fa-brands:discord"
                    text="VendingMachine#8485"
                    href="https://discord.id/?prefill=343383572805058560"
                />
                <Social
                    title="Telegram"
                    icon="fa-brands:telegram"
                    text="@Vendicated"
                    href="https://t.me/Vendicated"
                />
                <Social
                    title="Last.fm"
                    icon="fa-brands:lastfm"
                    text="@VendyMachine"
                    href="https://www.last.fm/user/Vendymachine"
                />
                <Social
                    title="Email Me"
                    id="email"
                    icon="fa:envelope"
                    text="Anti Spam Placeholder, enable Javascript to see."
                    href="mailto:FBI%20<oiparequest@ic.fbi.gov>"
                />
            </ul>
        </section>

        <section>
            <h2>Cool peoples' cool sites</h2>
            <div id="frens">
                <Fren name="MeguminSama" url="https://megu.gay/" />
                <Fren name="dzshn" url="https://dzshn.xyz" />
                <Fren name="auravoid" url="https://auravoid.dev" />
                <Fren name="vanillyn" url="https://vani.vendicated.dev/" />
                <Fren name="wingio" url="https://wingio.xyz" />
                <Fren name="AAGaming00" url="https://aa.catvibers.me/" />
                <Fren name="neeko-iko" url="https://neeko.page/" />
                <Fren name="X1nto" url="https://xinto.me/" />
                <Fren name="TymanWasTaken" url="https://tyman.systems/" />
                <Fren name="Katlyn" url="https://katlyn.dev/" />
                <Fren name="fawni" url="https://x4.pm/" />
                <Fren name="aaxyria" url="https://runtime.ee/" />
            </div>
        </section>
    </CenteredBody>
</Layout>

<script>
    const email = String.fromCharCode(
        ...Array.from(
            window.atob("GRIBCx4MDgMKCzcdBgQKGgdBARIb"),
            (s, i) => s.charCodeAt(0) ^ [111, 119, 111][i % 3]
        )
    );

    const emailContainer = document.querySelector("#email") as HTMLElement;

    emailContainer.querySelector("a")!.href =
        "mailto:Vendicated <" + email + ">";
    emailContainer.querySelector("span")!.innerText = email;

    // Shuffle friends
    const frens = document.querySelector("#frens") as HTMLDivElement;
    for (let i = frens.children.length; i >= 0; i--)
        // appending an already added element moves it
        frens.appendChild(frens.children[Math.floor(Math.random() * i)]);
</script>

<style lang="scss">
    section {
        margin-bottom: 2.5em;
    }

    span {
        color: var(--accent);
    }

    ul {
        list-style: none;
        // the user agent padding is insane
        padding: 0 0 0 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    h2 {
        font-size: unset;
    }

    a:not(:hover):not(:focus) {
        text-decoration: none;
    }

    #frens {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
    }

    // trolley
    @media screen and (max-width: 1506px) {
        #frens {
            justify-content: center;
        }
    }
</style>
