---
export interface Props {
    margin?: string;
}

const { margin } = Astro.props;
---

<div>
    <slot />
</div>

<style define:vars={{ margin }}>
    div {
        margin: 2em var(--margin, var(--horizontal-margin));
    }
</style>
