---
import Link from "./Link.svelte";
---

<footer>
    <p>
        read if cute <span>&nbsp;•&nbsp;</span>
        <Link href="https://codeberg.org/Ven/vendicated.dev">source code</Link>
    </p>
</footer>

<style>
    footer {
        margin-top: auto;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    p {
        font-weight: 300;
        filter: brightness(80%);
        font-size: 90%;
    }
</style>
