---
import ThemeToggle from "./ThemeToggle.svelte";
---

<nav>
    <a href="/" id="title">
        <h2>Ven's site</h2>
    </a>
    <div id="btns">
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/about">About</a>
            </li>
            <li>
                <a href="/projects">Projects</a>
            </li>
            <li>
                <a href="/blog">Blog</a>
            </li>
        </ul>
        <ThemeToggle client:load />
    </div>
</nav>

<style lang="scss">
    nav {
        background-color: var(--surface);

        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        padding: 1em 0;
    }

    h2 {
        cursor: pointer;
        font-weight: 500;
    }

    h2::before {
        content: "";
        display: block;
        width: 100%;
        margin: auto;
        height: 1px;
        margin-bottom: 4px;
        background-color: var(--color);
    }

    h2::after {
        content: "";
        display: block;
        width: 100%;
        margin: auto;
        height: 1px;
        margin-top: 4px;
        background-color: var(--color);
    }

    #btns {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    ul {
        float: right;
        list-style-type: none;
        overflow: hidden;
        padding: 0;
    }

    li {
        float: left;
    }

    a {
        text-decoration: none;
        text-align: center;
        padding: 0.5em;
        color: var(--color);

        transition: 0.15s ease;
        transition-property: color, text-decoration;
    }

    a:not(#title) {
        &:hover,
        &:focus {
            text-decoration: underline;
            text-decoration-thickness: 2px;
            outline: none;
            color: var(--accent);
        }
    }

    @media only screen and (max-width: 600px) {
        nav {
            position: relative;
            flex-direction: column;
        }

        nav :global(button) {
            position: absolute !important;
            top: 2rem !important;
            right: 2rem !important;
        }
    }
</style>
