---
import ThemeToggle from "./ThemeToggle.svelte";

export interface Props {
    title: string;
}

const routes = ["About", "Contact", "Blog"];
---

<nav>
    <div id="btns">
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            {
                routes.map(route => (
                    <li>
                        <a href={"/" + route.toLowerCase()}>{route}</a>
                    </li>
                ))
            }
        </ul>
        <ThemeToggle client:load />
    </div>
    <div id="oneko" aria-hidden="true"></div>
</nav>

<style lang="scss">
    nav {
        background-color: var(--surface);

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        padding: 1em;
    }

    a {
        text-decoration: none;
        text-align: center;
        color: var(--color);

        transition: 0.15s ease;
        transition-property: color, text-decoration;
    }

    a:not(#title) {
        padding: 0.5em;

        &:hover,
        &:focus {
            text-decoration: underline;
            text-decoration-thickness: 2px;
            outline: none;
            color: var(--accent);
        }
    }

    #btns {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    ul {
        float: right;
        list-style-type: none;
        overflow: hidden;
        padding: 0;
    }

    li {
        float: left;
    }

    #oneko {
        content: "";
        display: inline-block;
        position: absolute;
        width: 32px;
        height: 32px;
        right: 2rem;
        top: 1.3rem;
        image-rendering: pixelated;
        /* https://raw.githubusercontent.com/adryd325/oneko.js/14bab15a755d0e35cd4ae19c931d96d306f99f42/oneko.gif */
        background-image: url("/assets/oneko.gif");
        animation: sleep 1s infinite;
        cursor: pointer;

        &:hover {
            animation: 2.5s 1 forwards wakeup;
        }

        @media (prefers-reduced-motion) {
            display: none;
        }
    }

    @media only screen and (max-width: 600px) {
        nav {
            position: relative;
            flex-direction: column;
        }

        nav :global(button) {
            // these importants are necessary because the button uses unset: all
            position: absolute !important;
            top: 2rem !important;
            right: 2rem !important;
        }

        #oneko {
            left: 2rem;
        }
    }

    @keyframes sleep {
        0%,
        50% {
            background-position: -64px 0;
        }
        50.00001%,
        100% {
            background-position: -64px -32px;
        }
    }
    @keyframes wakeup {
        0%,
        20% {
            background-position: -160px 0;
        }
        20.00001%,
        40% {
            background-position: -192px 0;
        }
        40.00001%,
        60% {
            background-position: -224px 0;
        }
        60.00001%,
        80% {
            background-position: -96px -64px;
        }
        80.00001%,
        100% {
            background-position: -96px -96px;
        }
    }
</style>
