<nav>
    <a href="/" id="title">
        <h2>Ven's site</h2>
    </a>
    <div id="btns">
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/about">About</a>
            </li>
            <li>
                <a href="/projects">Projects</a>
            </li>
            <li>
                <a href="/blog">Blog</a>
            </li>
        </ul>
        <button id="theme-toggle" aria-label="toggle dark theme" tabindex="0">
        </button>
    </div>
</nav>

<style lang="scss">
    nav {
        background-color: var(--surface);

        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        padding: 1em 0;
    }

    h2 {
        cursor: pointer;
        font-weight: 500;
    }

    h2::before {
        content: "";
        display: block;
        width: 100%;
        margin: auto;
        height: 1px;
        margin-bottom: 4px;
        background-color: var(--color);
    }

    h2::after {
        content: "";
        display: block;
        width: 100%;
        margin: auto;
        height: 1px;
        margin-top: 4px;
        background-color: var(--color);
    }

    #btns {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    ul {
        float: right;
        list-style-type: none;
        overflow: hidden;
        padding: 0;
    }

    li {
        float: left;
    }

    a {
        text-decoration: none;
        text-align: center;
        padding: 0.5em;
        color: var(--color);

        transition: 0.15s ease;
        transition-property: color, text-decoration;
    }

    a:not(#title) {
        &:hover,
        &:focus {
            text-decoration: underline;
            text-decoration-thickness: 2px;
            outline: none;
            color: var(--accent);
        }
    }

    button {
        all: unset;

        cursor: pointer;
        margin-left: 1em;
        width: 1.2em;
        height: 1.2em;
        background-image: url(../assets/sun.svg);
        background-repeat: no-repeat;
        background-size: cover;
        filter: brightness(0%) saturate(100%);

        transition: transform 0.12s linear;
    }

    :global(.dark) button {
        background-image: url(../assets/moon.svg) !important;
        filter: brightness(0%) saturate(100%) invert(100%) !important;
    }

    button:hover,
    button:focus {
        transform: scale(1.2) rotate(-5deg);
        outline: none;
    }

    button:focus:not(:hover)::after {
        position: absolute;
        content: "";
        height: 1px;
        bottom: -4px;
        width: 100%;
        background: var(--color);
        transform: scale(1.2) rotate(5deg);
    }

    @media only screen and (max-width: 600px) {
        nav {
            position: relative;
            flex-direction: column;
        }

        button {
            position: absolute !important;
            top: 2em;
            right: 2em;
        }
    }
</style>

<script>
    import { changeTheme } from "../util";
    const themeToggle = document.getElementById(
        "theme-toggle"
    ) as HTMLButtonElement;

    themeToggle.addEventListener("click", e => {
        const isDark = changeTheme();
        localStorage.setItem("theme", isDark ? "dark" : "light");
        console.log("Switched theme to", isDark ? "dark" : "light");

        // do not blur if this press was keyboard triggered
        if (e instanceof PointerEvent && e.pointerType) themeToggle.blur();
    });
</script>
