---
import Link from "./Link.svelte";

interface CustomSocialProps {
    children: any;
}

interface SocialProps {
    href: string;
    title: string;
    text: string;
    id?: string;
}

export type Props = SocialProps | CustomSocialProps;

const { href, text, id, title } = Astro.props as SocialProps &
    CustomSocialProps;
---

<li id={id}>
    <slot>
        <slot name="icon" />

        <h3>{title}</h3>
        <Link href={href} class="content" rel="me">{text}</Link>
    </slot>
</li>

<style>
    li {
        display: inline-flex;
        align-items: center;
    }

    h3 {
        all: unset;
        text-decoration: none;
        margin-right: 0.5em;
        min-width: 5rem;
    }

    /* the li is here to increase specificity to win over the Link text-decoration style lmao */
    li .content {
        border-radius: 99999px;
        padding: 0.2em 0.5em;
        background-color: var(--surface2);

        text-decoration: none;
    }

    .content:is(:hover, :focus) {
        text-decoration: underline;
    }
</style>
