---
import { Icon } from "astro-icon";
import Link from "./Link.svelte";
import SocialImg from "./SocialImg.astro";

interface CustomSocialProps {
    children: any;
}

interface SocialProps {
    icon?: string;
    href: string;
    title: string;
    text: string;
    id?: string;
}

export type Props = SocialProps | CustomSocialProps;

const { icon, href, text, id, title } = Astro.props as SocialProps &
    CustomSocialProps;
---

<li id={id}>
    <slot>
        {icon && <SocialImg icon={icon!} title={title!} />}
        <slot name="icon" />

        <span class="title" aria-hidden="true">{title}</span>
        <Link href={href} class="content">{text}</Link>
    </slot>
</li>

<style>
    li {
        display: inline-flex;
        align-items: center;
    }

    .title {
        text-decoration: none;
        margin-right: 0.5em;
        min-width: 5rem;
    }

    /* the li is here to increase specificity to win over the Link text-decoration style lmao */
    li .content {
        border-radius: 99999px;
        padding: 0.2em 0.5em;
        background-color: var(--surface2);

        text-decoration: none;
    }

    .content:is(:hover, :focus) {
        text-decoration: underline;
    }
</style>
