---
import { Icon } from "astro-icon";
import Link from "./Link.svelte";

export interface Props {
    icon: string;
    href: string;
    text: string;
    id?: string;
}

const { icon, href, text, id } = Astro.props;
---

<li id={id}>
    <Link href={href} class={"social-link"}>
        <Icon class="brand-icon" name={icon} />
        <span>{text}</span>
    </Link>
</li>

<style>
    svg {
        shape-rendering: auto;
        width: 24px;
        height: 24px;
        margin-right: 0.5em;
    }

    svg[astro-icon="fa:envelope"] {
        transform: scale(0.9);
    }

    .social-link {
        display: inline-flex;
        align-items: center;
    }
</style>
