---
import { Icon } from "astro-icon";

export interface Props {
    icon: string;
    title: string;
}

const { icon, title } = Astro.props;
---

<span class="social-icon">
    <Icon role="img" name={icon} {title} />
</span>

<style>
    span {
        width: 24px;
        height: 24px;
        margin-right: 0.5em;
    }

    svg {
        shape-rendering: auto;
    }

    svg[astro-icon="fa:envelope"] {
        transform: scale(0.9);
    }
</style>
