---
export const prerender = true;

import CenteredBody from "components/CenteredBody.astro";
import Layout from "layouts/Layout.astro";

import { loadStrings, getStaticPaths } from "locales";
export { getStaticPaths };

const t = await loadStrings(Astro.params.lang, true);
---

<Layout title={t("404.title")} description={t("404.description")}>
    <CenteredBody>
        <h1>{t("404.title")}</h1>
        <h3>{t("404.notFound")}</h3>
        <p>{t("404.lost")}</p>
        <p>{t("404.goHome")}</p>
        <a href="/">
            <img
                src="https://cdn.discordapp.com/emojis/432715085526597634.webp"
                alt={t("404.koishiAlt")}
            />
        </a>
    </CenteredBody>
</Layout>

<style>
    div {
        margin: 2em 20%;
    }
</style>
