---
export const prerender = true;

import CenteredBody from "components/CenteredBody.astro";
import Card, { Kind } from "components/Card.astro";
import Socials from "components/Socials.astro";
import Layout from "layouts/Layout.astro";

import { loadStrings, getStaticPaths } from "locales";
export { getStaticPaths };

const t = await loadStrings(Astro.params.lang, true);
---

<Layout title={t("contact.title")} description={t("contact.description")}>
    <CenteredBody margin="10%">
        <h1>{t("contact.title")}</h1>

        <div class="grid">
            <section>
                <h2 id="socials">{t("contact.socials")}</h2>
                <Socials />
            </section>
            {
                /*
            <section>
                <h2 id="send-message">{t("contact.sendMessage")}</h2>
                <noscript>
                    <Card kind={Kind.Warning}>{t("contact.noscript")}</Card>
                </noscript>
                <ContactComponent />
            </section>
            */
            }
        </div>
    </CenteredBody>
</Layout>

<style>
    .grid {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    @media (max-width: 1300px) {
        .grid {
            grid-template-columns: minmax(0, 1fr);
        }
    }
</style>
