---
export const prerender = true;

import CenteredBody from "components/CenteredBody.astro";
import ContactComponent from "components/Contact.astro";
import Socials from "components/Socials.astro";
import Layout from "layouts/Layout.astro";

import { loadStrings, getStaticPaths } from "locales";
export { getStaticPaths };

const t = await loadStrings(Astro.params.lang);
---

<Layout title={t("contact.title")} description={t("contact.description")}>
    <CenteredBody margin="10%">
        <h1>{t("contact.title")}</h1>

        <div class="grid">
            <section>
                <h2>{t("contact.socials")}</h2>
                <Socials />
            </section>
            <section>
                <h2>{t("contact.sendMessage")}</h2>
                <ContactComponent />
            </section>
        </div>
    </CenteredBody>
</Layout>

<style>
    .grid {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    @media (max-width: 1300px) {
        .grid {
            grid-template-columns: minmax(0, 1fr);
        }
    }
</style>
