---
export const prerender = true;

import Layout from "layouts/Layout.astro";
import Socials from "components/Socials.astro";

import CenteredBody from "components/CenteredBody.astro";
import Fren from "components/Fren.astro";

import { loadStrings, getStaticPaths } from "locales";
import Trans from "locales/Trans.astro";

export { getStaticPaths };

const t = await loadStrings(Astro.params.lang, true);
---

<Layout title={t("home.title")} description={t("home.description")}>
    <CenteredBody>
        <section>
            <h1>
                <Trans i18nKey="home.hello">
                    Hi, I'm <span>Vee!</span>
                </Trans>
            </h1>
            <p>
                {t("home.about")}
                <br />
                {t("home.about2")}
            </p>
        </section>

        <section id="socials">
            <h2>{t("home.socialsTitle")}</h2>
            <Socials class="socials" />
        </section>

        <section id="friends">
            <h2>{t("home.friendsTitle")}</h2>
            <div id="frens">
                <Fren name="MeguminSama" url="https://megu.dev/" />
                <Fren name="auravoid" url="https://auravoid.dev" />
                <Fren name="wingio" url="https://wingio.xyz" />
                <Fren name="AAGaming00" url="https://aagaming.me" />
                <Fren name="neeko-iko" url="https://neeko.page/" />
                <Fren name="X1nto" url="https://xinto.dev/" />
                <Fren name="Katlyn" url="https://katlyn.dev/" />
                <Fren name="fawn" url="https://fawn.moe" source="cobu" />
                <Fren name="espimarisa" url="https://espi.me" />
                <Fren name="lewisakura" url="https://lewisakura.moe" />
                <Fren name="solelychloe" url="https://arciniega.one" />
                <Fren name="rini" url="https://rinici.de" source="cobu" />
                <Fren name="maisymoe" url="https://maisy.moe" />
                <Fren name="ssalggnikool" url="https://ssalggnikool.xyz" />
            </div>
        </section>
    </CenteredBody>
</Layout>

<script>
    // Shuffle friends
    const frens = document.querySelector("#frens") as HTMLDivElement;
    for (let i = frens.children.length; i >= 0; i--)
        // appending an already added element moves it
        frens.appendChild(frens.children[Math.floor(Math.random() * i)]);
</script>

<style lang="scss">
    section {
        margin-bottom: 2.5em;
    }

    span {
        color: var(--accent);
    }

    h2 {
        font-size: unset;
    }

    a:not(:hover, :focus) {
        text-decoration: none;
    }

    #frens {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
    }

    // trolley
    @media screen and (max-width: 1506px) {
        #frens {
            justify-content: center;
        }
    }
</style>
