---
import { Locales } from "../../locales";
import Language from "./Language.astro";

const { lang } = Astro.params;
---

<div>
    <details>
        <summary>
            <Language lang={lang!} active={true} />
        </summary>

        {
            Locales.filter(l => l !== lang).map(l => (
                <a href={Astro.url.pathname.replace(`/${lang}`, `/${l}`)}>
                    <Language lang={l} />
                </a>
            ))
        }
    </details>
</div>

<style>
    div {
        position: relative;
        width: 10em;
        margin-left: 0.5em;
    }

    details {
        position: absolute;
        top: 50%;
        z-index: 1000;
        padding: 0.5em;
    }

    details {
        transform: translateY(-50%);
    }

    details[open] {
        transform: translateY(-29%);
        background: var(--surface2);
        border-radius: 6px;
    }

    details:not([open]) summary :global(.check) {
        display: none;
    }

    details[open] summary :global(.dropdown) {
        display: none;
    }

    summary {
        list-style: none;
        height: 24px;
    }
    
    summary::-webkit-details-marker {
        display: none;
    }

    summary,
    a {
        display: block;
        padding: 0.4em;
        border: 1px solid var(--color-semi-trans);
        border-radius: 6px;
        color: var(--color);
        text-decoration: none;
        cursor: pointer;
    }
</style>
