---
export const prerender = true;

import BlogPostCard from "components/BlogPostCard.astro";
import CenteredBody from "components/CenteredBody.astro";
import Layout from "layouts/Layout.astro";
import type { BlogPost } from "scripts-ssr/types";

const posts = [] ?? (await Astro.glob<BlogPost>("./*.{md,mdx}"));

import { loadStrings, getStaticPaths } from "locales";
export { getStaticPaths };

const t = await loadStrings(Astro.params.lang, true);
---

<Layout title={t("blog.title")} description={t("blog.description")}>
    <CenteredBody>
        <h1>{t("blog.title")}</h1>
        <p>{t("blog.teehee")}</p>
        <div>
            {posts.map(p => <BlogPostCard post={p} />)}
        </div>
    </CenteredBody>
</Layout>
